.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: default;
}

.page-link {

    cursor: pointer;
    
}

.page-item.active .page-link {
    
    cursor: pointer;
}